body {
    margin: 10px;
    background-color: black;
}
#home {
    margin-top: -1;
    margin-left: -1;
    margin-right: -1;
    padding-bottom: 2cm;
    padding-top: 2cm;
    background-color: blue magenta;
}
header {
    font-size: 30px;
    color: light purple;
    float: left;
    padding-left: 2cm ;
}
nav {
    float: right;
    padding: 1cm right;
}
#tt {
    style: static;
    color: light gray;
    background-color: dark purple;
    margin: 10px;
    padding: 10px;
    border-radius: 1mm;
    font-size: 20px;
    text-decoration: optional
}
#ww {
    style: static;
    color: light gray;
    background-color: dark purple;
    margin: 10px;
    padding: 10px;
    border-radius: 1mm;
    font-size: 20px;
    text-decoration: optional
}
#dd {
    style: static;
    color: light gray;
    background-color: dark purple;
    margin: 10px;
    padding: 10px;
    border-radius: 1mm;
    font-size: 20px;
    text-decoration: optional
}
#tt:hover {
    color: white;
    background-color: purple;
    text-decoration: optional;
    font-weight: bolder;
}

#ww:hover {
    color: white;
    background-color: purple;
    text-decoration:optional;
    font-weight: bolder;
}
#dd:hover {
    color: white;
    background-color: purple;
    text-decoration:optional;
    font-weight: bolder;
}
#all-conversion-sections {
    display: grid;
    justify-content: center;
}

figure {
    float:left; 
    justify-self: auto; 
    width:200px
}

img {
    width: 200px;
}

figcaption {
    color:black;
    font-size: 17px;
    text-align: center;
}

button{
    font-size: 20px;
    border: transparent;
    width: fit-content;
    background-color: rgb(173, 218, 173);
    border-radius: 40px;
    padding-right: 15px;
    padding-left: 15px;
}

button:hover {
    cursor: pointer;
}

.b {
    border-top-style: solid;
    border-top-width: 20px;
    border-radius: 10px;
    background-color: white;
    width: 600px;
    height: 400px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
}
.temperature {
    border-top-color:green;
}
.weight {
    border-top-color: coral;
}
.distance {
    border-top-color:cyan;
}
legend {
    font-size: 30px;
    font-weight: bolder;
}
.calc {
    margin-left: 50px;
}
#go-home {
    width: 40px;
    height: 40px;
    justify: center;
    border-radius: 100%;
    background-color:cyan;
    display: flex;   
}